# LGM VIP - DATA SCIENCE (JUNE 2023)

#### NAME : ASHRAFALI.M

#### BEGINNER LEVEL TASK

### Task 2- Stock Market Prediction And Forecasting Using Stacked LSTM

Dataset link : https://raw.githubusercontent.com/mwitiderrick/stockprice/master/NSE-TATAGLOBAL.csv

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler

### Uploading Dataset

In [2]:
data = pd.read_csv("tata.csv")

In [3]:
data

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55
...,...,...,...,...,...,...,...,...
2030,2010-07-27,117.60,119.50,112.00,118.80,118.65,586100,694.98
2031,2010-07-26,120.10,121.00,117.10,117.10,117.60,658440,780.01
2032,2010-07-23,121.80,121.95,120.25,120.35,120.65,281312,340.31
2033,2010-07-22,120.30,122.00,120.25,120.75,120.90,293312,355.17
2034,2010-07-21,122.10,123.00,121.05,121.10,121.55,658666,803.56

In [4]:
data.shape

(2035, 8)

In [5]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Last', 'Close', 'Total Trade Quantity',
       'Turnover (Lacs)'],
      dtype='object')

In [6]:
data.isnull()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2030,False,False,False,False,False,False,False,False
2031,False,False,False,False,False,False,False,False
2032,False,False,False,False,False,False,False,False
2033,False,False,False,False,False,False,False,False
2034,False,False,False,False,False,False,False,False

In [7]:
data.head

<bound method NDFrame.head of             Date    Open    High     Low    Last   Close  \
0     2018-09-28  234.05  235.95  230.20  233.50  233.75
1     2018-09-27  234.55  236.80  231.10  233.80  233.25
2     2018-09-26  240.00  240.00  232.50  235.00  234.25
3     2018-09-25  233.30  236.75  232.00  236.25  236.10
4     2018-09-24  233.55  239.20  230.75  234.00  233.30
...          ...     ...     ...     ...     ...     ...
2030  2010-07-27  117.60  119.50  112.00  118.80  118.65
2031  2010-07-26  120.10  121.00  117.10  117.10  117.60
2032  2010-07-23  121.80  121.95  120.25  120.35  120.65
2033  2010-07-22  120.30  122.00  120.25  120.75  120.90
2034  2010-07-21  122.10  123.00  121.05  121.10  121.55

      Total Trade Quantity  Turnover (Lacs)
0                  3069914          7162.35
1                  5082859         11859.95
2                  2240909          5248.60
3                  2349368          5503.90
4                  3423509          7999.55
...                    ...              ...
2030                586100           694.98
2031                658440           780.01
2032                281312           340.31
2033                293312           355.17
2034                658666           803.56

[2035 rows x 8 columns]>

In [8]:
data.isnull().sum()

Date                    0
Open                    0
High                    0
Low                     0
Last                    0
Close                   0
Total Trade Quantity    0
Turnover (Lacs)         0
dtype: int64

In [9]:
duplicates= data.duplicated()
duplicates.value_counts()

False    2035
dtype: int64

In [10]:
X= data.drop('Close',axis=1)

In [11]:
y=data['Close']

In [12]:
X

,Date,Open,High,Low,Last,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,3423509,7999.55
...,...,...,...,...,...,...,...
2030,2010-07-27,117.60,119.50,112.00,118.80,586100,694.98
2031,2010-07-26,120.10,121.00,117.10,117.10,658440,780.01
2032,2010-07-23,121.80,121.95,120.25,120.35,281312,340.31
2033,2010-07-22,120.30,122.00,120.25,120.75,293312,355.17
2034,2010-07-21,122.10,123.00,121.05,121.10,658666,803.56

In [13]:
y

0       233.75
1       233.25
2       234.25
3       236.10
4       233.30
         ...
2030    118.65
2031    117.60
2032    120.65
2033    120.90
2034    121.55
Name: Close, Length: 2035, dtype: float64

### Preprocess the data

In [14]:
sc = MinMaxScaler(feature_range=(0, 1))
scaled_data = sc.fit_transform(data['Close'].values.reshape(-1, 1))

### Split the data into training and testing sets

In [15]:
train_size = int(len(scaled_data) * 0.8)
train_data = scaled_data[:train_size]
test_data = scaled_data[train_size:]

 Define the function to create input and output sequences

In [16]:
def create_sequences(data, seq_length):
    x = []
    y = []
    for i in range(len(data) - seq_length):
        x.append(data[i:i+seq_length])
        y.append(data[i+seq_length])
    return np.array(x), np.array(y)

In [17]:
sequence_length = 20

Create the training sequences

In [18]:
x_train, y_train = create_sequences(train_data, sequence_length)

In [19]:
x_train

array([[[0.62418301],
        [0.62214052],
        [0.62622549],
        ...,
        [0.63623366],
        [0.62642974],
        [0.63337418]],

       [[0.62214052],
        [0.62622549],
        [0.63378268],
        ...,
        [0.62642974],
        [0.63337418],
        [0.62745098]],

       [[0.62622549],
        [0.63378268],
        [0.62234477],
        ...,
        [0.63337418],
        [0.62745098],
        [0.62254902]],

       ...,

       [[0.14705882],
        [0.15012255],
        [0.15522876],
        ...,
        [0.15175654],
        [0.14644608],
        [0.15216503]],

       [[0.15012255],
        [0.15522876],
        [0.14052288],
        ...,
        [0.14644608],
        [0.15216503],
        [0.1435866 ]],

       [[0.15522876],
        [0.14052288],
        [0.12826797],
        ...,
        [0.15216503],
        [0.1435866 ],
        [0.13419118]]])

In [20]:
y_train

array([[0.62745098],
       [0.62254902],
       [0.6376634 ],
       ...,
       [0.1435866 ],
       [0.13419118],
       [0.1431781 ]])

 Create the testing sequences

In [21]:
x_test, y_test = create_sequences(test_data, sequence_length)

In [22]:
x_test

array([[[0.16115196],
        [0.16176471],
        [0.17320261],
        ...,
        [0.1503268 ],
        [0.13255719],
        [0.14338235]],

       [[0.16176471],
        [0.17320261],
        [0.18218954],
        ...,
        [0.13255719],
        [0.14338235],
        [0.15849673]],

       [[0.17320261],
        [0.18218954],
        [0.16237745],
        ...,
        [0.14338235],
        [0.15849673],
        [0.1186683 ]],

       ...,

       [[0.12479575],
        [0.13112745],
        [0.11397059],
        ...,
        [0.15236928],
        [0.15400327],
        [0.14971405]],

       [[0.13112745],
        [0.11397059],
        [0.1190768 ],
        ...,
        [0.15400327],
        [0.14971405],
        [0.1621732 ]],

       [[0.11397059],
        [0.1190768 ],
        [0.12377451],
        ...,
        [0.14971405],
        [0.1621732 ],
        [0.16319444]]])

In [23]:
y_test

array([[0.15849673],
       [0.1186683 ],
       [0.11519608],
       [0.10947712],
       [0.0692402 ],
       [0.06597222],
       [0.05841503],
       [0.05044935],
       [0.04534314],
       [0.04779412],
       [0.05290033],
       [0.04922386],
       [0.06638072],
       [0.07169118],
       [0.05392157],
       [0.04881536],
       [0.04881536],
       [0.05310458],
       [0.04963235],
       [0.05065359],
       [0.05126634],
       [0.04963235],
       [0.05902778],
       [0.05555556],
       [0.04084967],
       [0.03737745],
       [0.03737745],
       [0.02655229],
       [0.02879902],
       [0.0316585 ],
       [0.0316585 ],
       [0.03635621],
       [0.02205882],
       [0.01674837],
       [0.01450163],
       [0.02226307],
       [0.03615196],
       [0.02675654],
       [0.03206699],
       [0.02696078],
       [0.03574346],
       [0.03594771],
       [0.04044118],
       [0.03921569],
       [0.04411765],
       [0.02982026],
       [0.0122549 ],
       [0.01286765],
       [0.01143791],
       [0.00245098],
       [0.0059232 ],
       [0.        ],
       [0.00714869],
       [0.00428922],
       [0.0067402 ],
       [0.0063317 ],
       [0.01123366],
       [0.01960784],
       [0.02757353],
       [0.03002451],
       [0.03349673],
       [0.04003268],
       [0.04084967],
       [0.03982843],
       [0.04166667],
       [0.04370915],
       [0.04758987],
       [0.03594771],
       [0.02839052],
       [0.02410131],
       [0.01715686],
       [0.01531863],
       [0.01756536],
       [0.02696078],
       [0.02696078],
       [0.03819444],
       [0.02839052],
       [0.02369281],
       [0.02920752],
       [0.02328431],
       [0.01919935],
       [0.00653595],
       [0.00061275],
       [0.00796569],
       [0.01245915],
       [0.01981209],
       [0.01940359],
       [0.02246732],
       [0.03125   ],
       [0.02348856],
       [0.0249183 ],
       [0.02144608],
       [0.04840686],
       [0.04575163],
       [0.03962418],
       [0.03921569],
       [0.04758987],
       [0.04513889],
       [0.04166667],
       [0.04125817],
       [0.05044935],
       [0.05555556],
       [0.05494281],
       [0.05412582],
       [0.0435049 ],
       [0.04799837],
       [0.05147059],
       [0.05065359],
       [0.03431373],
       [0.04575163],
       [0.04187092],
       [0.04554739],
       [0.03941993],
       [0.02716503],
       [0.03125   ],
       [0.05882353],
       [0.07148693],
       [0.08721405],
       [0.08986928],
       [0.10498366],
       [0.08905229],
       [0.10355392],
       [0.10375817],
       [0.12275327],
       [0.10906863],
       [0.09660948],
       [0.1064134 ],
       [0.10457516],
       [0.11049837],
       [0.1127451 ],
       [0.09803922],
       [0.09987745],
       [0.08925654],
       [0.0747549 ],
       [0.08169935],
       [0.08925654],
       [0.09068627],
       [0.08129085],
       [0.08823529],
       [0.08455882],
       [0.07945261],
       [0.08374183],
       [0.07781863],
       [0.09824346],
       [0.09089052],
       [0.09007353],
       [0.09558824],
       [0.06862745],
       [0.06372549],
       [0.0494281 ],
       [0.04799837],
       [0.04534314],
       [0.0443219 ],
       [0.03941993],
       [0.0379902 ],
       [0.04656863],
       [0.05085784],
       [0.07209967],
       [0.06535948],
       [0.07230392],
       [0.07802288],
       [0.07741013],
       [0.06086601],
       [0.06413399],
       [0.07046569],
       [0.05412582],
       [0.0498366 ],
       [0.05167484],
       [0.05330882],
       [0.0435049 ],
       [0.02634804],
       [0.02410131],
       [0.02961601],
       [0.01960784],
       [0.02961601],
       [0.04575163],
       [0.05923203],
       [0.06678922],
       [0.06229575],
       [0.06311275],
       [0.0629085 ],
       [0.06658497],
       [0.07434641],
       [0.06944444],
       [0.08088235],
       [0.07700163],
       [0.0684232 ],
       [0.06781046],
       [0.0629085 ],
       [0.0692402 ],
       [0.0755719 ],
       [0.07781863],
       [0.08088235],
       [0.08843954],
       [0.09395425],
       [0.09599673],
       [0.08660131],
       [0.09027778],
       [0.08517157],
       [0.08374183],
       [0.07945261],
       [0.09109477],
       [0.09129902],
       [0.08803105],
       [0.09681373],
       [0.11417484],
       [0.10498366],
       [0.09987745],
       [0.08537582],
       [0.08047386],
       [0.06862745],
       [0.06576797],
       [0.06147876],
       [0.07169118],
       [0.07026144],
       [0.0747549 ],
       [0.06821895],
       [0.0692402 ],
       [0.07066993],
       [0.06801471],
       [0.06678922],
       [0.07414216],
       [0.07169118],
       [0.08639706],
       [0.08312908],
       [0.06311275],
       [0.0629085 ],
       [0.05167484],
       [0.03186275],
       [0.04003268],
       [0.03860294],
       [0.04105392],
       [0.03390523],
       [0.03125   ],
       [0.02634804],
       [0.05861928],
       [0.06311275],
       [0.0620915 ],
       [0.05535131],
       [0.08455882],
       [0.05514706],
       [0.06045752],
       [0.0557598 ],
       [0.0439134 ],
       [0.02920752],
       [0.02818627],
       [0.04718137],
       [0.06045752],
       [0.05861928],
       [0.06168301],
       [0.06699346],
       [0.07087418],
       [0.0755719 ],
       [0.07700163],
       [0.10375817],
       [0.10314542],
       [0.10334967],
       [0.10089869],
       [0.10437092],
       [0.09803922],
       [0.09722222],
       [0.09783497],
       [0.09579248],
       [0.09109477],
       [0.09313725],
       [0.08558007],
       [0.09517974],
       [0.11172386],
       [0.12275327],
       [0.12806373],
       [0.1313317 ],
       [0.12479575],
       [0.11090686],
       [0.10743464],
       [0.11621732],
       [0.11683007],
       [0.11764706],
       [0.12888072],
       [0.12847222],
       [0.13337418],
       [0.14236111],
       [0.14093137],
       [0.13970588],
       [0.13827614],
       [0.13541667],
       [0.13010621],
       [0.12254902],
       [0.12479575],
       [0.13848039],
       [0.14011438],
       [0.13888889],
       [0.13541667],
       [0.14011438],
       [0.1380719 ],
       [0.13071895],
       [0.13071895],
       [0.12867647],
       [0.11846405],
       [0.14644608],
       [0.14808007],
       [0.15910948],
       [0.15992647],
       [0.15788399],
       [0.16441993],
       [0.17892157],
       [0.17933007],
       [0.19260621],
       [0.20812908],
       [0.18974673],
       [0.18055556],
       [0.18239379],
       [0.17708333],
       [0.17810458],
       [0.18055556],
       [0.17810458],
       [0.17851307],
       [0.19607843],
       [0.18913399],
       [0.18954248],
       [0.19403595],
       [0.19444444],
       [0.20200163],
       [0.19771242],
       [0.19934641],
       [0.19873366],
       [0.1997549 ],
       [0.2128268 ],
       [0.21568627],
       [0.20445261],
       [0.21772876],
       [0.21098856],
       [0.21425654],
       [0.19750817],
       [0.18811275],
       [0.17851307],
       [0.17381536],
       [0.16033497],
       [0.16564542],
       [0.17116013],
       [0.17422386],
       [0.18035131],
       [0.17401961],
       [0.16278595],
       [0.16973039],
       [0.17810458],
       [0.17034314],
       [0.16830065],
       [0.17279412],
       [0.17544935],
       [0.18382353],
       [0.19138072],
       [0.18913399],
       [0.19097222],
       [0.17238562],
       [0.16830065],
       [0.1693219 ],
       [0.17177288],
       [0.16156046],
       [0.14971405],
       [0.1503268 ],
       [0.15196078],
       [0.14726307],
       [0.14501634],
       [0.14603758],
       [0.12479575],
       [0.13112745],
       [0.11397059],
       [0.1190768 ],
       [0.12377451],
       [0.13562092],
       [0.12908497],
       [0.13459967],
       [0.12806373],
       [0.13031046],
       [0.12724673],
       [0.13521242],
       [0.14522059],
       [0.15257353],
       [0.14848856],
       [0.14338235],
       [0.14562908],
       [0.15236928],
       [0.15400327],
       [0.14971405],
       [0.1621732 ],
       [0.16319444],
       [0.16584967]])

### Build the stacked LSTM model

In [24]:
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1], 1)))
model.add(LSTM(units=50, return_sequences=True))
model.add(LSTM(units=50))
model.add(Dense(units=1))

Compile the model

In [25]:
model.compile(optimizer='adam', loss='mean_squared_error')

### Train the model

In [26]:
model.fit(x_train, y_train, epochs=30, batch_size=32)

Epoch 1/30
51/51 [==============================] - 6s 27ms/step - loss: 0.0141
Epoch 2/30
51/51 [==============================] - 1s 26ms/step - loss: 0.0017
Epoch 3/30
51/51 [==============================] - 1s 27ms/step - loss: 0.0016
Epoch 4/30
51/51 [==============================] - 1s 27ms/step - loss: 0.0015
Epoch 5/30
51/51 [==============================] - 1s 27ms/step - loss: 0.0015
Epoch 6/30
51/51 [==============================] - 1s 26ms/step - loss: 0.0015
Epoch 7/30
51/51 [==============================] - 1s 27ms/step - loss: 0.0013
Epoch 8/30
51/51 [==============================] - 1s 27ms/step - loss: 0.0012
Epoch 9/30
51/51 [==============================] - 1s 28ms/step - loss: 0.0011
Epoch 10/30
51/51 [==============================] - 1s 27ms/step - loss: 9.8531e-04
Epoch 11/30
51/51 [==============================] - 1s 28ms/step - loss: 0.0011
Epoch 12/30
51/51 [==============================] - 1s 28ms/step - loss: 9.2766e-04
Epoch 13/30
51/51 [==============================] - 1s 28ms/step - loss: 8.4791e-04
Epoch 14/30
51/51 [==============================] - 1s 28ms/step - loss: 8.0450e-04
Epoch 15/30
51/51 [==============================] - 1s 28ms/step - loss: 7.3743e-04
Epoch 16/30
51/51 [==============================] - 1s 28ms/step - loss: 7.4481e-04
Epoch 17/30
51/51 [==============================] - 1s 28ms/step - loss: 8.1841e-04
Epoch 18/30
51/51 [==============================] - 1s 28ms/step - loss: 6.7702e-04
Epoch 19/30
51/51 [==============================] - 1s 28ms/step - loss: 6.8394e-04
Epoch 20/30
51/51 [==============================] - 1s 28ms/step - loss: 6.9480e-04
Epoch 21/30
51/51 [==============================] - 1s 29ms/step - loss: 5.5724e-04
Epoch 22/30
51/51 [==============================] - 1s 29ms/step - loss: 6.6774e-04
Epoch 23/30
51/51 [==============================] - 2s 30ms/step - loss: 7.1661e-04
Epoch 24/30
51/51 [==============================] - 2s 30ms/step - loss: 5.4268e-04
Epoch 25/30
51/51 [==============================] - 2s 30ms/step - loss: 5.0448e-04
Epoch 26/30
51/51 [==============================] - 2s 31ms/step - loss: 6.1494e-04
Epoch 27/30
51/51 [==============================] - 1s 29ms/step - loss: 4.9592e-04
Epoch 28/30
51/51 [==============================] - 1s 28ms/step - loss: 4.6023e-04
Epoch 29/30
51/51 [==============================] - 1s 28ms/step - loss: 4.2592e-04
Epoch 30/30
51/51 [==============================] - 1s 29ms/step - loss: 5.2327e-04

Make predictions

In [27]:
predictions = model.predict(x_test)

13/13 [==============================] - 1s 10ms/step

### Evaluate the model

In [28]:
predictions = sc.inverse_transform(predictions)

In [29]:
rmse = np.sqrt(np.mean((predictions - sc.inverse_transform(y_test))**2))
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 4.586005306668979